@import "material";

$primary_color: #5e5eff;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

img {
  max-width: 100%;
}

p, li {
  font-size: 16px;
  line-height: 26px;
}

blockquote {
  font-size: 20px;
  font-weight: bold;
  margin: 2rem 3rem;
  font-style: italic;
}

.container-lg {
  max-width: 900px;
}

.container-md {
  max-width: 700px;
}

.pad {
  padding: 2rem;
}

.btn-primary {
  background-color: $primary_color;
}

.btn-flat-primary,
.btn-flat-primary:active,
.btn-flat-primary:focus,
.btn-flat-primary:hover,
.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:hover {
  color: $primary_color;
}

.btn-lg,
.btn-group-lg > .btn,
.input-group-lg > .input-group-append > .btn,
.input-group-lg > .input-group-prepend > .btn {
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.border-outline-primary {
  border: 2px solid $primary_color;
  border-radius: 0.25rem;
}
